<!doctype html>
<html lang="{{ .Lang }}">

    <head>
      {{ partial "head-meta.html" . }}
      {{ partial "css.html" . }}
    </head>

    <body>
      <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->

      {{ partial "page-header-navbar-large.html" . }}

      <main role="main" class="container">

          {{ partial "banner.html" . }}

          {{ block "main" .}}
          <!-- This is where the page content redners -->
          {{ end }}


      </main>

      {{ partial "page-footer.html" . }}

      {{ partial "javascript.html" . }}

    </body>
</html>
