{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

<div class="page row justify-content-center">
  <article class="{{ .Title | urlize }}-page col-lg-8">
	<h1 class="title">
    {{ .Title | markdownify }}
	</h1>

  {{ .Content }}

	{{ if .IsTranslated }}
	<h4>{{ i18n "translations" }}</h4>
	<ul>
            {{ range .Translations }}
            <li><a href="{{ .Permalink }}">
		{{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end }}
            </a></li>
            {{ end }}
	</ul>
	{{ end }}
    </article>
</div>

{{ end }}
